{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Features' | trans }}{% endblock %}

{% block js %}{{parent()}}{% endblock %}

{% block manager_content %}

<div class="clearContainer"></div>
{% endblock %}
